.joc {
    padding-top: 15%;
    padding-left: 40%;
}

.buton {
    padding-bottom: 10px;
    padding-left: 60px;
}

/* dona alguna forma bàsica a la taula */
table, td {
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

/* donar color als camps que ja han rebut un click */
td.clicked {
    background-color: rgb(37, 215, 150);
}

/* pinta de color rojo los campos o casillas con minas */
.mina{
    background-color: rgb(230, 51, 51);
}